<a href="https://colab.research.google.com/github/elshafee/Classification-using-tf/blob/main/Classification_Eng_Abdelrahman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Call the import statements

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from matplotlib import pyplot as plt

pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

## Load the datasets from the internet

In [ ]:
data= pd.read_csv("https://drive.google.com/uc?export=download&id=1_fSRZpRLJ9_tiXf3ARhxGKrplVcozww0")

## Dataset Exploration

In [ ]:
data.head()

,20,38,47,41,17,30,25,32,13,23,...,10,28.1,14.1,19,13.1,22.3,15,11,23.2,11.1
0,152,295,373,321,113,235,184,251,83,159,...,43,211,100,147,99,171,99,84,159,84
1,333,704,835,709,226,528,399,568,198,326,...,17,426,192,323,231,395,181,200,310,189
2,350,807,804,687,229,554,416,612,229,261,...,-35,380,187,348,291,465,157,257,274,219
3,383,750,703,616,259,540,415,570,208,310,...,106,441,272,409,375,540,245,327,335,284
4,404,779,834,706,262,583,431,559,241,449,...,210,618,365,493,425,600,378,379,475,353

## Normalizing the Dataset

In [ ]:
print(data.max().mean())
print(data.max().std())
print(len(data))
normalized_df=(data-data.min())/(data.max()-data.min())
normalized_df

4455.762711864407
812.2102313840503
243501

,20,38,47,41,17,30,25,32,13,23,...,10,28.1,14.1,19,13.1,22.3,15,11,23.2,11.1
0,0.4,0.6,0.4,0.4,0.4,0.4,0.5,0.6,0.5,0.4,...,0.4,0.4,0.4,0.4,0.4,0.6,0.5,0.4,0.5,0.6
1,0.4,0.6,0.5,0.5,0.4,0.5,0.6,0.6,0.5,0.4,...,0.4,0.5,0.5,0.4,0.4,0.6,0.5,0.4,0.5,0.6
2,0.4,0.6,0.5,0.5,0.4,0.5,0.6,0.6,0.5,0.4,...,0.4,0.5,0.5,0.4,0.4,0.6,0.5,0.4,0.5,0.6
3,0.4,0.6,0.5,0.4,0.4,0.5,0.6,0.6,0.5,0.4,...,0.4,0.5,0.5,0.4,0.4,0.6,0.5,0.4,0.5,0.6
4,0.5,0.6,0.5,0.5,0.4,0.5,0.6,0.6,0.5,0.4,...,0.4,0.5,0.5,0.5,0.4,0.6,0.5,0.4,0.5,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243496,0.6,0.7,0.5,0.6,0.6,0.6,0.7,0.7,0.7,0.5,...,0.6,0.5,0.6,0.6,0.6,0.6,0.7,0.6,0.6,0.7
243497,0.6,0.7,0.5,0.6,0.6,0.6,0.7,0.7,0.7,0.6,...,0.6,0.5,0.6,0.6,0.6,0.6,0.7,0.6,0.6,0.7
243498,0.6,0.7,0.5,0.6,0.6,0.6,0.7,0.7,0.7,0.5,...,0.6,0.5,0.6,0.6,0.6,0.6,0.7,0.6,0.6,0.7
243499,0.6,0.7,0.5,0.6,0.6,0.6,0.7,0.7,0.7,0.6,...,0.6,0.5,0.6,0.6,0.6,0.6,0.7,0.6,0.6,0.7
243500,0.6,0.7,0.6,0.6,0.6,0.6,0.7,0.7,0.7,0.6,...,0.6,0.5,0.6,0.6,0.6,0.7,0.7,0.6,0.6,0.7

In [ ]:

# shuffle the training set
train_df = data.reindex(np.random.permutation(data.index))

In [ ]:
train_df.head()

,20,38,47,41,17,30,25,32,13,23,...,10,28.1,14.1,19,13.1,22.3,15,11,23.2,11.1
90809,539,389,503,555,528,576,665,577,434,650,...,333,-82,596,380,288,543,487,464,267,262
219177,741,-146,707,803,522,620,396,174,371,805,...,37,-693,231,-157,7,707,32,64,-342,-248
228412,1793,2312,1537,1738,1790,1987,2130,2403,2859,1626,...,1985,1394,2154,2009,2303,2479,2143,2217,2104,2069
223867,1085,1114,740,943,830,728,872,681,652,937,...,926,531,911,975,960,677,908,650,625,757
148953,604,332,378,365,202,159,324,188,277,679,...,290,-218,471,326,336,391,195,387,224,285

In [ ]:
def create_model(my_learning_rate, feature_layer, my_metrics):
  """Create and compile a simple classification model."""
  model = tf.keras.models.Sequential()
  # model.add(feature_layer)

  model.add(tf.keras.layers.Dense(units=1, input_shape=(1,),
                                  activation=tf.sigmoid),)

  model.compile(optimizer=tf.keras.optimizers.RMSprop(lr=my_learning_rate),                                                   
                loss=tf.keras.losses.BinaryCrossentropy(),
                metrics=my_metrics)

  return model        


def train_model(model, dataset, epochs, label_name,
                batch_size=None, shuffle=True):
  """Feed a dataset into the model in order to train it."""
  features = {name:np.array(value) for name, value in dataset.items()}
  label = np.array(features.pop(label_name)) 
  history = model.fit(x=features, y=label, batch_size=batch_size,
                      epochs=epochs, shuffle=shuffle)
  
  # The list of epochs is stored separately from the rest of history.
  epochs = history.epoch

  # Isolate the classification metric for each epoch.
  hist = pd.DataFrame(history.history)

  return epochs, hist  

print("Defined the create_model and train_model functions.")

Defined the create_model and train_model functions.

## Define a plotting function

In [ ]:
def plot_curve(epochs, hist, list_of_metrics):
  """Plot a curve of one or more classification metrics vs. epoch."""  
  # list_of_metrics should be one of the names shown in:
  # https://www.tensorflow.org/tutorials/structured_data/imbalanced_data#define_the_model_and_metrics  

  plt.figure()
  plt.xlabel("Epoch")
  plt.ylabel("Value")

  for m in list_of_metrics:
    x = hist[m]
    plt.plot(epochs[1:], x[1:], label=m)

  plt.legend()

print("Defined the plot_curve function.")

Defined the plot_curve function.

In [ ]:
# The following variables are the hyperparameters.
learning_rate = 0.001
epochs = 20
batch_size = 100
label_name = ""
classification_threshold = 0.35

# Establish the metrics the model will measure.
METRICS = [
           tf.keras.metrics.BinaryAccuracy(name='accuracy', 
                                           threshold=classification_threshold),
          ]

# Establish the model's topography.
my_model = create_model(learning_rate, feature_layer, METRICS)

# Train the model on the training set.
epochs, hist = train_model(my_model, train_df_norm, epochs, 
                           label_name, batch_size)

# Plot a graph of the metric(s) vs. epochs.
list_of_metrics_to_plot = ['accuracy'] 

plot_curve(epochs, hist, list_of_metrics_to_plot)

NameError: ignored

## Add precision and recall as metrics

Relying solely on accuracy, particularly for a class-imbalanced data set (like ours), can be a poor way to judge a classification model.  Modify the code in the following code cell to enable the model to measure not only accuracy but also precision and recall. We have
added accuracy and precision; your task is to add recall. See the [TensorFlow Reference](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/Recall) for details.

In [ ]:
# The following variables are the hyperparameters.
learning_rate = 0.001
epochs = 20
batch_size = 100
classification_threshold = 0.35
label_name = ""

# Here is the updated definition of METRICS:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy', 
                                      threshold=classification_threshold),
      tf.keras.metrics.Precision(thresholds=classification_threshold,
                                 name='precision' 
                                 ),
      tf.keras.metrics.Recall(thresholds=classification_threshold,
                              name="recall"),
]

# Establish the model's topography.
my_model = create_model(learning_rate, feature_layer, METRICS)

# Train the model on the training set.
epochs, hist = train_model(my_model, train_df_norm, epochs, 
                           label_name, batch_size)

# Plot metrics vs. epochs
list_of_metrics_to_plot = ['accuracy', "precision", "recall"] 
plot_curve(epochs, hist, list_of_metrics_to_plot)


# The new graphs suggest that precision and recall are 
# somewhat in conflict. That is, improvements to one of
# those metrics may hurt the other metric.

## Experiment with the classification threshold (if time permits)

Experiment with different values for `classification_threshold` in the code cell within "Invoke the creating, training, and plotting functions."  What value of `classification_threshold` produces the highest accuracy?

In [ ]:
# The following variables are the hyperparameters.
learning_rate = 0.001
epochs = 20
batch_size = 100
classification_threshold = 0.52
label_name = "median_house_value_is_high"

# Here is the updated definition of METRICS:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy', 
                                      threshold=classification_threshold),
      tf.keras.metrics.Precision(thresholds=classification_threshold,
                                 name='precision' 
                                 ),
      tf.keras.metrics.Recall(thresholds=classification_threshold,
                              name="recall"),
]

# Establish the model's topography.
my_model = create_model(learning_rate, feature_layer, METRICS)

# Train the model on the training set.
epochs, hist = train_model(my_model, train_df_norm, epochs, 
                           label_name, batch_size)

# Plot metrics vs. epochs
list_of_metrics_to_plot = ['accuracy', "precision", "recall"] 
plot_curve(epochs, hist, list_of_metrics_to_plot)

# A `classification_threshold` of slightly over 0.5
# appears to produce the highest accuracy (about 83%).
# Raising the `classification_threshold` to 0.9 drops 
# accuracy by about 5%.  Lowering the 
# `classification_threshold` to 0.3 drops accuracy by 
# about 3%.

## Summarize model performance (if time permits)

If time permits, add one more metric that attempts to summarize the model's overall performance.

In [ ]:
# The following variables are the hyperparameters.
learning_rate = 0.001
epochs = 20
batch_size = 100
label_name = ""

# AUC is a reasonable "summary" metric for 
# classification models.
# Here is the updated definition of METRICS to 
# measure AUC:
METRICS = [
      tf.keras.metrics.AUC(num_thresholds=100, name='auc'),
]

# Establish the model's topography.
my_model = create_model(learning_rate, feature_layer, METRICS)

# Train the model on the training set.
epochs, hist = train_model(my_model, train_df_norm, epochs, 
                           label_name, batch_size)

# Plot metrics vs. epochs
list_of_metrics_to_plot = ['auc'] 
plot_curve(epochs, hist, list_of_metrics_to_plot)